.grid{
    margin: 50px 0 0;
    padding-bottom: 50px;
}

.navBar{
    margin-top: 40px;
}

.visualize-btn {
    background-color: #253C78;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.reset-btn {
    background-color: #253C78;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}