.node {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
}

.node-visited{
    background-color: #2B59C3;
}

.node-visited-animation {
    animation: visited 1s linear;
}
  
@keyframes visited {
    from {
      background-color: white;
    }
    to {
      background-color: #1098F7;
    }
}

.node-finish {
    background-image: url("../../assets/localizador-de-mapa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}
  
.node-start {
    background-image: url("../../assets/botao-de-seta-para-a-direita-do-teclado.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}
